In [1]:
import pandas as pd

In [2]:
data1 = pd.read_csv('fnc.csv')

In [3]:
data1

,Id,SCN(53)_vs_SCN(69),SCN(98)_vs_SCN(69),SCN(99)_vs_SCN(69),SCN(45)_vs_SCN(69),ADN(21)_vs_SCN(69),ADN(56)_vs_SCN(69),SMN(3)_vs_SCN(69),SMN(9)_vs_SCN(69),SMN(2)_vs_SCN(69),...,CBN(13)_vs_DMN(94),CBN(18)_vs_DMN(94),CBN(4)_vs_DMN(94),CBN(7)_vs_DMN(94),CBN(18)_vs_CBN(13),CBN(4)_vs_CBN(13),CBN(7)_vs_CBN(13),CBN(4)_vs_CBN(18),CBN(7)_vs_CBN(18),CBN(7)_vs_CBN(4)
0,10001,0.368580,0.166876,0.438148,0.341007,-0.186251,0.049096,0.121417,-0.174268,-0.231578,...,-0.149279,0.552841,0.131046,0.335446,0.394867,-0.042853,0.124627,-0.060712,0.515964,0.290488
1,10002,0.151696,-0.024819,0.217504,0.418072,-0.227234,-0.064052,-0.143832,-0.118116,-0.054825,...,-0.214216,-0.039792,0.143014,-0.189962,0.498373,0.444231,0.592438,0.028649,0.705524,0.248327
2,10003,0.343415,0.109974,0.741641,0.578558,-0.676446,-0.436960,-0.295663,-0.377790,-0.344963,...,-0.154941,0.136850,-0.022361,0.137625,0.677972,0.409412,0.563892,0.438684,0.618204,0.284474
3,10004,0.132793,0.258255,0.490769,0.342717,0.091112,0.107969,0.029220,-0.026237,0.094742,...,-0.130339,0.309540,0.141469,0.030853,0.344394,0.214097,0.317556,0.012435,0.665937,0.081358
4,10005,0.291921,0.251254,0.416470,0.511719,-0.362626,-0.164710,-0.289059,-0.015537,-0.087316,...,-0.139525,0.394932,0.040443,0.428334,0.498837,0.266755,0.227379,0.028984,0.752343,0.087898
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11749,21750,0.227970,-0.222489,0.250417,0.442642,-0.221094,-0.234935,-0.296614,-0.273216,-0.106481,...,-0.103786,0.375065,0.104857,0.262614,0.502715,0.322353,0.458041,0.343754,0.705207,0.341224
11750,21751,0.455052,0.483856,0.589565,0.633691,0.161995,-0.175318,0.015480,0.135612,0.172296,...,-0.087604,0.131902,-0.047932,0.022317,0.583869,0.596734,0.515209,0.379589,0.568422,0.439016
11751,21752,0.118257,0.452123,0.608328,0.422485,-0.106427,-0.008484,-0.010050,-0.122015,0.092994,...,0.229712,0.431489,0.039062,0.119474,0.523894,0.445209,0.332011,0.228977,0.560968,0.263504
11752,21753,0.051042,0.088581,0.551354,0.305542,-0.034378,-0.094778,-0.089954,-0.222876,-0.197503,...,-0.147730,0.206375,0.096594,0.317651,0.545878,0.411197,0.230889,0.167354,0.221668,0.371357
11753,21754,0.544363,0.270110,0.502865,0.651486,-0.252982,0.100640,-0.129654,0.103986,-0.023668,...,0.341059,0.390722,0.234821,0.487450,0.294131,0.459764,0.475639,0.080498,0.529851,0.381040

In [4]:
data3 = pd.read_csv('loading.csv')

In [5]:
data3

,Id,IC_01,IC_07,IC_05,IC_16,IC_26,IC_06,IC_10,IC_09,IC_18,...,IC_08,IC_03,IC_21,IC_28,IC_11,IC_20,IC_30,IC_22,IC_29,IC_14
0,10001,0.006070,0.014466,0.004136,0.000658,-0.002742,0.005033,0.016720,0.003484,0.001797,...,0.018246,0.023711,0.009177,-0.013929,0.030696,0.010496,0.002892,-0.023235,0.022177,0.017192
1,10002,0.009087,0.009291,0.007049,-0.002076,-0.002227,0.004605,0.012277,0.002946,0.004086,...,0.014635,0.022556,0.012004,-0.011814,0.022479,0.005739,0.002880,-0.016609,0.025543,0.014524
2,10003,0.008151,0.014684,0.010444,-0.005293,-0.002913,0.015042,0.017745,0.003930,-0.008021,...,0.019565,0.030616,0.018184,-0.010469,0.029799,0.015435,0.005211,-0.028882,0.031427,0.018164
3,10004,0.004675,0.000957,0.006154,-0.000429,-0.001222,0.011755,0.013010,0.000193,0.008075,...,0.002658,0.022266,0.005956,-0.010595,0.024078,-0.000319,0.005866,-0.015182,0.024476,0.014760
4,10005,-0.000398,0.006878,0.009051,0.000369,0.000336,0.010679,0.010352,0.003637,0.004180,...,0.009702,0.017257,0.005454,-0.008591,0.019416,0.000786,0.002692,-0.019814,0.017105,0.013316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11749,21750,0.005996,0.003873,0.012353,0.000242,-0.002159,0.020201,0.020931,0.003684,-0.002458,...,0.011454,0.022840,0.006448,-0.007203,0.029689,0.004942,0.007751,-0.020226,0.028821,0.017492
11750,21751,0.003835,0.015067,0.015428,-0.002030,0.001205,0.012396,0.011026,-0.001491,0.005310,...,0.012303,0.018314,0.012326,-0.012152,0.024617,0.002096,0.001911,-0.008028,0.035093,0.017439
11751,21752,0.000627,0.011407,0.010957,0.000534,-0.000347,0.013499,0.010541,0.001867,0.007447,...,0.012055,0.020741,0.001160,-0.007140,0.025236,0.002026,0.001876,-0.014612,0.021665,0.019592
11752,21753,0.007431,0.021419,0.014143,-0.005623,-0.006399,0.008602,0.006831,-0.001018,0.014972,...,0.019220,0.026282,0.020715,-0.008130,0.025149,0.007695,0.003226,-0.003505,0.029326,0.014235
11753,21754,0.010670,0.010670,0.006662,-0.002215,-0.001773,0.006544,0.010900,0.000563,0.002995,...,0.012511,0.023367,0.010739,-0.007732,0.015962,0.002420,0.003115,-0.020373,0.023804,0.012477

In [5]:
data2 = pd.read_csv('ICN_numbers.csv')

In [7]:
data2

    ICN_number
0           69
1           53
2           98
3           99
4           45
5           21
6           56
7            3
8            9
9            2
10          11
11          27
12          54
13          66
14          80
15          72
16          16
17           5
18          62
19          15
20          12
21          93
22          20
23           8
24          77
25          68
26          33
27          43
28          70
29          61
30          55
31          63
32          79
33          84
34          96
35          88
36          48
37          81
38          37
39          67
40          38
41          83
42          32
43          40
44          23
45          71
46          17
47          51
48          94
49          13
50          18
51           4
52           7

In [10]:
data4 = pd.read_csv('reveal_ID_site2.csv')

In [11]:
data4

        Id
0    10012
1    10014
2    10020
3    10034
4    10059
..     ...
505  21658
506  21675
507  21678
508  21686
509  21749

[510 rows x 1 columns]

In [12]:
data5 = pd.read_csv('sample_submission (2).csv')

In [13]:
data5

                       Id  Predicted
0               10003_age       50.0
1      10003_domain1_var1       50.0
2      10003_domain1_var2       50.0
3      10003_domain2_var1       50.0
4      10003_domain2_var2       50.0
...                   ...        ...
29380           21753_age       50.0
29381  21753_domain1_var1       50.0
29382  21753_domain1_var2       50.0
29383  21753_domain2_var1       50.0
29384  21753_domain2_var2       50.0

[29385 rows x 2 columns]

In [14]:
data6 = pd.read_csv('train_scores.csv')

In [15]:
data6

         Id        age  domain1_var1  domain1_var2  domain2_var1  domain2_var2
0     10001  57.436077     30.571975     62.553736     53.325130     51.427998
1     10002  59.580851     50.969456     67.470628     60.651856     58.311361
2     10004  71.413018     53.152498     58.012103     52.418389     62.536641
3     10005  66.532630           NaN           NaN     52.108977     69.993075
4     10007  38.617381     49.197021     65.674285     40.151376     34.096421
...     ...        ...           ...           ...           ...           ...
5872  21746  14.257265     21.358872     61.165998     51.778483     54.640179
5873  21747  55.456978     68.169675     29.907995     55.349257     54.019517
5874  21750  48.948756     55.114811     60.878271     38.617246     50.679885
5875  21752  66.532630     59.844808     72.303110     55.458281     46.870235
5876  21754  68.820928     56.594193     34.605868     49.922535     50.383078

[5877 rows x 6 columns]